@{
	ViewData["Title"] = "Configuration History";
	ViewData["UserName"] = ViewBag.UserName;
	ViewData["UserIsAdmin"] = ViewBag.UserIsAdmin;
}


<div class="container">
	<div id="configurationFormDeleteModal" class="modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<b>Delete Configuration Form</b>
				</div>

				<div class="modal-body">
					<input type="hidden" value="" id="configurationFormToDeleteId" />
					<div class="text-center">
						<p>Are you sure you want to delete this configuration form?</p>
						<button class="btn btn-danger" id="deleteConfigurationFormYes" onclick="deleteConfigurationForm()">Delete</button>
						<button class="btn btn-secondary" onclick="toggleConfigurationFormDeleteModal()">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>







<div class="container text-center">

	<div style="display: flex; justify-content: center; align-items: center;">
		<h2 class="animate__animated animate__flipInX" style="margin-right: 10px;">

			@if (ViewBag.SiteDTO.ID == 0)
			{
				<span>Configuration History for All Sites</span>
			}
			else
			{
				<span>Configuration History for <strong>@ViewBag.SiteDTO.SiteName</strong></span>
			}

		</h2>
		<button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#infoSections" aria-expanded="false" aria-controls="infoSections">
			<i id="expandIcon" class="fad fa-angle-double-down"></i>
		</button>

	</div>



	<div class="collapse" id="infoSections">
		<div class="row justify-content-center animate__animated animate__fadeInRight my-4">
			<div class="col-1 d-flex justify-content-center align-items-start pt-1">
				<i class="fas fa-history fa-3x"></i>
			</div>
			<div class="col-11 col-md-8 text-left">
				<p>Here are all of the past configuration forms you have submitted, which collectively define all of the reminders for each site you are subscribed to.</p>
			</div>
		</div>

		<div class="row justify-content-center animate__animated animate__fadeInLeft my-4">
			<div class="col-1 d-flex justify-content-center align-items-start pt-1">
				<i class="fas fa-info-circle fa-3x"></i>
			</div>
			<div class="col-11 col-md-8 text-left">
				<p>Hover over each row to see which sites and reminders are present in each form, or click the pencil icon to edit them!</p>
			</div>
		</div>

		<div class="row justify-content-center animate__animated animate__fadeInRight my-4">
			<div class="col-1 d-flex justify-content-center align-items-start pt-1">
				<i class="fas fa-warning fa-3x"></i>
			</div>
			<div class="col-11 col-md-8 text-left">
				<p>Please note that since it is possible for you to configure the same reminder for the same site in different configuration forms, if you want to be unsubscribed from a particular site/interval combination, you must do so for each form. If you want to be unsubscribed from just a particular site, you can remove that site from the table on the home screen.</p>

			</div>
		</div>
	</div>

	<hr />

	


	<div class="container" id="divLoading">
		<div class="row">
			<div class="form-group col-12">
				<div style="display:inline-block; margin-left: 20px;">
					Loading... <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				</div>
			</div>
		</div>
	</div>

	<table id="configurationHistoryTable" class="table table-striped display compact wrap" style="border: 1px solid #aaa;"></table>


</div>



@section Scripts{

	<script src="~/js/DatatableRequests.js" asp-append-version="true"></script>

	<script>
		var siteID = @Html.Raw(Json.Serialize(ViewBag.SiteDTO.ID));
	</script>

	<script>
		var buttonCommon = {
			exportOptions: {
				columns: [0, 1, 2]
			}
		};


		configurationHistoryDataTable = $('#configurationHistoryTable').DataTable({

			"autoWidth": false,
			"scrollX": true,
			"columns": [
				{
					"sTitle": "Sites",
					"data": "ConfiguredSiteNames",
					"render": function (data, type, row) {
						return data.join(', ');
					}
				},
				{
					"sTitle": "# Reminders",
					"data": "NumReminders"
				},
				{
					"sTitle": "Created Date",
					"data": "CreatedDate"
				},
				
				{ "sTitle": "Action", "data": "Action" }
			],

			dom: 'Bfrtip',
			lengthMenu: [
				[10, 50, 100, -1],
				['10', '50', '100', 'All']
			],
			initComplete: function () {
				var btns = $('.dt-button');
				btns.removeClass('dt-button');
				$(".buttons-collection.buttons-page-length").addClass("btn btn-dark");
			},
			buttons: [
				'pageLength',
				$.extend(true, {}, buttonCommon, {
					extend: 'copyHtml5',
					title: "Training Billing Discounts",
					className: "btn btn-outline-secondary"
				}),
				$.extend(true, {}, buttonCommon, {
					extend: 'excelHtml5',
					title: "Training Billing Discounts",
					className: "btn btn-outline-secondary"
				}),
				$.extend(true, {}, buttonCommon, {
					extend: 'pdfHtml5',
					title: "Training Billing Discounts",
					orientation: 'landscape',
					customize: function (doc) {
						doc.pageMargins = [5, 5, 0, 0];
						doc.defaultStyle.fontSize = 8;
						doc.styles.tableHeader.fontSize = 9;
					},
					className: "btn btn-outline-secondary"
				})
			]
		});

		DATATABLE_REQUESTS.LoadConfigurationHistoryTable(siteID);
	</script>


	


	<script>
		function redirectToConfigurationBuilder(groupID) {
			window.location.href = '/Reminders/ConfigurationBuilder?groupID=' + groupID;
		}

		$(document).ready(function () {

			$('#infoSections').on('show.bs.collapse', function () {
				$('#expandIcon').attr("class", "fad fa-angle-double-up")

			});

			$('#infoSections').on('hide.bs.collapse', function () {
				$('#expandIcon').attr("class", "fad fa-angle-double-down")

			});


		});
	</script>

	<script>

		function showConfigurationFormDeleteModal(id) {
			$('#configurationFormToDeleteId').val(id);
			$('#configurationFormDeleteModal').modal('show');
		}

		function toggleConfigurationFormDeleteModal(id) {
			$('#configurationFormDeleteModal').modal('toggle');
		}

		function deleteConfigurationForm() {
			var groupId = $('#configurationFormToDeleteId').val();
			$.ajax({
				type: "PUT",
				url: '/api/Reminders/DeleteReminderGroup?groupId=' + groupId,
				success: function (data) {
					if (data) {
						$("#configurationFormDeleteModal").modal('hide');
						DATATABLE_REQUESTS.LoadConfigurationHistoryTable(siteID);
						
					}
				}
			});
		}

	</script>



	<script>
		$(document).ready(function () {
			var table = $('#configurationHistoryTable').DataTable();

			$('#configurationHistoryTable tbody').on('mouseenter', 'tr', function () {
				// Access the TooltipInfo data
				var data = table.row(this).data();

				// Generate the tooltip text
				var tooltipText = "";
				for (var siteName in data.SiteToRemindersMap) {
					tooltipText += "<strong>" + siteName + "</strong>" + "<br/>" + data.SiteToRemindersMap[siteName].join(', ') + "<br/><br/>";
				}

				// Remove last line breaks
				tooltipText = tooltipText.replace(/<br\/><br\/>$/, '');

				$(this).attr('title', tooltipText);
				$(this).attr('data-toggle', 'tooltip');
				$(this).tooltip({
					placement: 'left',
					html: true
				});
				$(this).tooltip('show');
			});

		});

	</script>
}
