@model ISHealthMonitor.Core.Data.DTO.WorkOrderDTO

@{
    ViewData["Title"] = "Work Order Builder";
    ViewData["UserName"] = ViewBag.UserName;
    ViewData["UserIsAdmin"] = ViewBag.UserIsAdmin;
}

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Duplicate Work Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Our systems indicate that you may be creating a duplicate work order.</p>
                <p>There is currently a work order that has been submitted for this site. The work order object ID is <b id="workOrderObjectId"></b>. You can find the Work Order <a href="#" target="_blank" id="workOrderLink">here</a>.</p>
                <p>This work order was submitted on <b id="workOrderSubmissionDate"></b> and the current Effective Date for this site is <b id="effectiveDate"></b> which may mean a pending work order for this site has not been fulfilled.</p>
                <p>Do you wish to proceed with making a work order anyway?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelButton">Cancel</button>
                <button type="button" class="btn btn-primary" id="proceedButton">Proceed</button>
            </div>
        </div>
    </div>
</div>











<h3 style="text-align: center;">Work Order Submission Form for <a href="@Model.SiteURL">@Model.SiteName</a></h3>


<hr />


<form id="workOrderForm" onsubmit="return SubmitWorkOrderForm()">



    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="IssueType" class="control-label"></label>
            <input asp-for="IssueType" class="form-control" disabled />
            <span asp-validation-for="IssueType" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Category" class="control-label"></label>
            <input asp-for="Category" class="form-control" disabled />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="System" class="control-label"></label>
            <input asp-for="System" class="form-control" disabled />
            <span asp-validation-for="System" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Urgency" class="control-label"></label>
            <select id="select-urgency" class="" placeholder="Loading..."></select>
            <span asp-validation-for="Urgency" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row" id="emergencyDiv" hidden>
        <div class="form-group col-md-12">
            <label asp-for="EmergencyReason" class="control-label"></label>
            <input asp-for="EmergencyReason" class="form-control" />
            <span asp-validation-for="EmergencyReason" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="ShortDescription" class="control-label"></label>
            <input asp-for="ShortDescription" class="form-control" />
            <span asp-validation-for="ShortDescription" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <input asp-for="SiteID" type="hidden" />

    <div id="errorMessage" class="alert alert-danger d-none" role="alert"></div>
    <div id="infoMessage" class="alert alert-info d-block d-none" role="alert"></div>

    <div class="form-group d-flex justify-content-center">
        <button id="submitButton" type="submit" class="btn btn-success mr-3">Submit <i id="spinnerWorkOrder" class="fa fa-spinner fa-spin d-none"></i></button>
        <button id="resetButton" type="reset" onclick="ReturnHome('/Sites/SiteStatusViewer')" class="btn btn-secondary mr-3">Cancel</button>

    </div>
</form>




@section Scripts{

	<script src="~/js/WorkOrderForm.js" asp-append-version="true"></script>
	<script>

        function ReturnHome(url) {
            if (!url) {
                window.location = "/";
            }
            else {
                window.location = url;
            }

        }

        $(document).ready(function () {
            let modelData = @Html.Raw(Json.Serialize(Model));
            initWorkOrderForm(modelData);

        });

    </script>

}
